.welcome-container {
    padding: 20px;
    text-align: center;
}

.welcome-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.users-toggle-button {
    font-size: 16px;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.logout-button {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: rgb(245, 91, 91);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: large;
    border-radius: 6px;
    cursor: pointer;
}